<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="jspm_packages/github/twbs/bootstrap@3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('./assets/js/app')
      .catch(console.error.bind(console));
    </script>
    <!-- templates -->
    <script type="text/template" id="image-template">
        <img id="magic-eye" width="<%= width %>" height="<%= height %>" class="img-rounded" src />
    </script>
    <script type="text/template" id="text-template">
      <label>
        <input type="radio" name="textRadio" id="text<%= index %>" value="<%= text %>" <%= checked %>/>
        <%= text %>
      </label>
    </script>
    <script type="text/template" id="side-template">
      <h1>MagicEye <em><small>-visual recovery-</small></em></h1>
      <h2>Select <small>magic text</small></h2>
      <div id="spinner"></div>
      <ul class="nav nav-tabs">
        <li class="textTab active" role="presentation"><a href="#">Word</a></li>
        <li class="textTab" role="presentation"><a href="#">Kanji</a></li>
        <li class="textTab" role="presentation"><a href="#">Symbol</a></li>
        <li class="textTab" role="presentation"><a href="#">Snowman</a></li>
      </ul>
      <div id='textList'></div>
      <button type="button" class="btn btn-success btn-lg" name="refresh">Refresh</button>
    </script>
  </head>
  <body>
    <section id="image" class="box"></section>
    <section id="side" class=box></section>
  </body>
</html>
