h1 {
  background: #c1e4e9;
  color: #007bbb;
  border: 2px dashed #698aab;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px #c1e4e9;
  text-shadow: 0 0 5px;
  padding: 10px;
  text-align: center;
}
h2 {
  border-bottom: 1px solid #006e54;
  border-left: 10px solid #006e54;
  padding: 7px
}
.wrapper {
  width: 100%;
}
.center {
  width: 80%;
  margin: 0 auto;
}
.box {
  float: left;
  margin: 15px;
}
.text_container {
  font-size: 20px;
  padding-left: 10px;
}
.btn-success {
  margin-top: 5px;
}
#spinner {
  position: relative;
}

/* mobile only */
@media only screen and (max-device-width: 480px) {

.box { width: 100%; }
.center { width: 100%; }

}


