.center {
  margin: auto;
  width: 100%;
}
.box {
  float: left;
  margin: 20px;
}
.text_container {
  font-size: 20px;
  padding-left: 10px;
}
.btn-success {
  margin-top: 5px;
}
#spinner {
  position: relative;
}
