<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/introjs.css" type="text/css">
    <link rel="stylesheet" href="assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <title>Daily MagicEye</title>
    <script src="build.js"></script>
    <!-- templates -->
    <script type="text/template" id="image-template">
        <div id="spinner">
          <canvas id="magic-eye" width="<%= width %>" height="<%= height %>" class="img-rounded" src />
        </div>
    </script>
    <script type="text/template" id="text-template">
      <label>
        <input type="radio" name="textRadio" id="text<%= index %>" value="<%= text %>" <%= checked %>/>
        <%= text %>
      </label>
    </script>
    <script type="text/template" id="side-template">
      <h2>Select <small>magic text</small></h2>
      <ul id="nav" class="nav nav-tabs">
        <li class="textTab active" role="presentation"><a href="javascript:void(0)">Word</a></li>
        <li class="textTab" role="presentation"><a href="javascript:void(0)">Kana</a></li>
        <li class="textTab" role="presentation"><a href="javascript:void(0)">Kanji</a></li>
        <li class="textTab" role="presentation"><a href="javascript:void(0)">Hangul</a></li>
        <li class="textTab" role="presentation"><a href="javascript:void(0)">Symbol</a></li>
      </ul>
      <div id="textList"></div>
      <button type="button" id="refresh" name="refresh" class="btn btn-success btn-lg">Refresh</button>
      <a id="help" hef="#">What's this?</a>
    </script>
  </head>
  <body>
    <div class="wrapper">
      <h1 id="title">Daily MagicEye<br><em><small>-visual recovery-</small></em></h1>
      <div class="center">
        <div id="side" class="box"></div>
        <div id="image" class="box"></div>
      </div>
    </div>
  </body>
</html>
